<div class="container">

  <!-- Header -->
  <div class="header">
    <h2>قائمة المهام</h2>
    <h6> عدد المهام: ({{ tasks.length }})</h6>
    <button class="btn add" (click)="openAddTask()">+ إضافة مهمة</button>
  </div>

  <select [(ngModel)]="selectedStatus" (change)="applyFilter()">
    <option value="all">كل المهام</option>
    <option value="pending">Pending</option>
    <option value="in_progress">In Progress</option>
    <option value="completed">Completed</option>
  </select>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    جاري التحميل...
  </div>

  <!-- Empty -->
  <div *ngIf="!loading && tasks.length === 0" class="empty">
    لا توجد مهام
  </div>

  <!-- List -->
  <div *ngFor="let t of filteredTasks" class="card">

    <div class="task-info">
      <h3>{{ t.title }}</h3>
      <p>{{ t.description }}</p>

      <span class="status"
        [ngClass]="{
          'pending': t.status === 'pending',
          'in_progress': t.status === 'in_progress',
          'completed': t.status === 'completed'
        }">
        {{ t.status }}
      </span>
    </div>

    <div class="actions">
      <button class="btn edit" (click)="editTask(t)">✏️</button>
      <button class="btn delete" (click)="deleteTask(t.id)">🗑</button>
    </div>

  </div>

</div>

<!-- Modal -->

<div class="modal" *ngIf="showModal">
  <div class="modal-content">

    <h3>{{ isEdit ? '✏️ تعديل مهمة' : '➕ إضافة مهمة' }}</h3>

    <input [(ngModel)]="form.title" placeholder="عنوان المهمة">

    <textarea [(ngModel)]="form.description" placeholder="الوصف"></textarea>

    <select [(ngModel)]="form.status">
      <option value="pending">Pending</option>
      <option value="in_progress">in_progress </option>
      <option value="completed">Completed</option>
    </select>

    <div class="modal-actions">
      <button class="btn save" (click)="saveTask()">💾 حفظ</button>
      <button class="btn cancel" (click)="closeModal()">❌ إلغاء</button>
    </div>

  </div>
</div>